@media screen and (max-aspect-ratio:13/9) {
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000;
  }

  .loading_logo {
    position: absolute;
    top: 40.6301824212272vh;
    left: 50%;
    width: 45.066%;
    margin-left: -22.533%;
  }

  .loading .loadAnim {
    position: absolute;
    top: 45.1077943615vh;
    left: 0.7333333333rem;
    width: 8.5333333333rem;
    height: 4.9066666667rem;
    background: url(../images/loadingSprite2.jpg) no-repeat 0 0/300% 500%;
    animation: loadAnim 2s steps(1, end) infinite alternate;
    -webkit-animation: loadAnim 2s steps(1, end) infinite alternate;
  }


  @keyframes loadAnim {
    0% {
      background-position: 0% 0%;
    }

    7.6923076923% {
      background-position: 50% 0%;
    }

    15.3846153846% {
      background-position: 100% 0%;
    }

    23.0769230769% {
      background-position: 0% 25%;
    }

    30.7692307692% {
      background-position: 50% 25%;
    }

    38.4615384615% {
      background-position: 100% 25%;
    }

    46.1538461538% {
      background-position: 0% 50%;
    }

    53.8461538462% {
      background-position: 50% 50%;
    }

    61.5384615385% {
      background-position: 100% 50%;
    }

    69.2307692308% {
      background-position: 0% 75%;
    }

    76.9230769231% {
      background-position: 50% 75%;
    }

    84.6153846154% {
      background-position: 100% 75%;
    }

    92.3076923077% {
      background-position: 0% 100%;
    }

    100% {
      background-position: 50% 100%;
    }
  }

  @-webkit-keyframes loadAnim {
    0% {
      background-position: 0% 0%;
    }

    7.6923076923% {
      background-position: 50% 0%;
    }

    15.3846153846% {
      background-position: 100% 0%;
    }

    23.0769230769% {
      background-position: 0% 25%;
    }

    30.7692307692% {
      background-position: 50% 25%;
    }

    38.4615384615% {
      background-position: 100% 25%;
    }

    46.1538461538% {
      background-position: 0% 50%;
    }

    53.8461538462% {
      background-position: 50% 50%;
    }

    61.5384615385% {
      background-position: 100% 50%;
    }

    69.2307692308% {
      background-position: 0% 75%;
    }

    76.9230769231% {
      background-position: 50% 75%;
    }

    84.6153846154% {
      background-position: 100% 75%;
    }

    92.3076923077% {
      background-position: 0% 100%;
    }

    100% {
      background-position: 50% 100%;
    }
  }

  .loading .loadAnim.loadEndAnim {
    background: url(../images/loadingEndSprite.jpg) no-repeat 0 0/300% 500%;
    animation: loadEndAnim 2s steps(1, end) forwards;
    -webkit-animation: loadEndAnim 2s steps(1, end) forwards;
  }

  @keyframes loadEndAnim {
    0% {
      background-position: 0% 0%;
    }

    7.6923076923% {
      background-position: 50% 0%;
    }

    15.3846153846% {
      background-position: 100% 0%;
    }

    23.0769230769% {
      background-position: 0% 25%;
    }

    30.7692307692% {
      background-position: 50% 25%;
    }

    38.4615384615% {
      background-position: 100% 25%;
    }

    46.1538461538% {
      background-position: 0% 50%;
    }

    53.8461538462% {
      background-position: 50% 50%;
    }

    61.5384615385% {
      background-position: 100% 50%;
    }

    69.2307692308% {
      background-position: 0% 75%;
    }

    76.9230769231% {
      background-position: 50% 75%;
    }

    84.6153846154% {
      background-position: 100% 75%;
    }

    92.3076923077% {
      background-position: 0% 100%;
    }

    100% {
      background-position: 50% 100%;
    }
  }

  @-webkit-keyframes loadEndAnim {
    0% {
      background-position: 0% 0%;
    }

    7.6923076923% {
      background-position: 50% 0%;
    }

    15.3846153846% {
      background-position: 100% 0%;
    }

    23.0769230769% {
      background-position: 0% 25%;
    }

    30.7692307692% {
      background-position: 50% 25%;
    }

    38.4615384615% {
      background-position: 100% 25%;
    }

    46.1538461538% {
      background-position: 0% 50%;
    }

    53.8461538462% {
      background-position: 50% 50%;
    }

    61.5384615385% {
      background-position: 100% 50%;
    }

    69.2307692308% {
      background-position: 0% 75%;
    }

    76.9230769231% {
      background-position: 50% 75%;
    }

    84.6153846154% {
      background-position: 100% 75%;
    }

    92.3076923077% {
      background-position: 0% 100%;
    }

    100% {
      background-position: 50% 100%;
    }
  }
}