/*清除格式*/
* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

li {
	list-style: none;
}

input,
select,
textarea {
	outline: none;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

/*主体部分*/
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

/*横屏提示*/
@media screen and (max-aspect-ratio:13/9) {
	.horizontal-full {
		display: none;
	}
}

@media (orientation: portrait) {
	.horizontal-full {
		display: none;
	}
}

.horizontal-full {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #303030;
	z-index: 120;
	text-align: center;
	left: 0;
	top: 0;
}

.table-full {
	display: table;
	width: 100%;
	height: 100%;
}

.tb-m {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.tb-m img {
	width: 100%;
	vertical-align: top;
}



/*KV*/
/*主体部分*/
.KV {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../images/kv_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}

.KV_header {
	text-align: center;
	position: absolute;
	top: 10%;
	width: 100%;
}

.KV_header p {
	font-size: .8rem;
	letter-spacing: .1rem;
}

/*点+文字*/
.KV_dotted img {
	margin-top: -0.2rem;
	transform: scale(0.6);
	animation: Dot infinite ease 3s;
}

@keyframes Dot {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.KV_dotted div {
	color: #fff;
	text-align: center;
	letter-spacing: 0.1rem;
}

.KV_dotted p {
	font-size: .4rem;
}

.KV_dotted div:first-child {
	position: absolute;
	top: 40vh;
	left: 60vw;
}

.KV_dotted div:nth-child(2) {
	position: absolute;
	top: 48vh;
	left: 30vw;
}

.KV_dotted div:last-child {
	position: absolute;
	top: 56vh;
	left: 68vw;
}

.KV_dotted div:last-child p {
	display: block;
	margin-top: -.3rem;
}

/*遮罩*/

#Cover1 {
	display: none;
}

#Cover2 {
	display: none;
}

#Cover3 {
	display: none;
}

.KV_cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(76, 65, 42, 0.9);
	z-index: 1000;
}

.KV_cover .KV_cover_contain {
	position: absolute;
	top: 12%;
	left: 10%;
	height: 67%;
	width: 80%;
	text-align: center;
	background-color: #000;
	border-radius: 10px;
	overflow: hidden;
}

.KV_cover .KV_cover_contain img:first-child {
	margin-bottom: 10%;
	width: 100%;
}

.KV_cover .KV_cover_contain img:last-child {
	width: 100%;
}

/*cover_close*/
.KV_Close {
	position: absolute;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	bottom: 7%;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

/*KV_footer*/
.KV_footTxt {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 13%;
	display: block;
}

.KV_footTxt img {
	width: 66%;
}

/*footer*/
.Choose_footTxt {
	position: absolute;
	bottom: 0;
	height: 25%;
	text-align: center;
	width: 100%;
	display: none;
	color: #fff;
}

.Choose_footTxt>p {
	font-size: .5rem;
	letter-spacing: 0.1rem
}

/*footer icon*/
.Choose_footTxt ul {
	display: block;
	width: 70%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.Choose_footTxt ul li:first-of-type {
	float: left;
}

.Choose_footTxt ul li p {
	font-size: .4rem;
	letter-spacing: 0.2rem;
	margin-top: -.6rem;
}

.Choose_footTxt ul li img {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
}

.Choose_footTxt ul li:last-of-type {
	float: right;
	margin-top: -1.5vh;
	margin-right: 10vw;
}

/*KV结束*/

/*背景音乐*/
.BGM {
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	z-index: 500;
	display: none;
}

.BGM img {
	display: block;
	width: .8rem;
	height: .8rem;
}

#audio {
	display: none;
}

.BGM .BGMicon {
	animation: BGMicon linear 2s infinite;
}

/*音乐动画*/
@keyframes BGMicon {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*背景音乐结束*/

/*interact*/
.Interact {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

.Interact .Interact_bgimg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.Interact .Interact_bgimg img {
	width: 100%;
	height: 100%;
}

/*开始进入*/
.Interact_Bground {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/interact_Bground.png);
	background-size: cover;
}

.Interact_Animation {
	animation-name: InterBG;
	animation-duration: 2s;
	animation-timing-function: ease;
}

@keyframes InterBG {
	0% {
		-webkit-transform: scale(2.2);
		transform: scale(2.2);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.Inner_enter {
	animation-name: InterIN;
	animation-duration: 2s;
	animation-timing-function: ease;
}

@keyframes InterIN {
	0% {
		-webkit-transform: scale(.2);
		transform: scale(0.2);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.Control_animate {
	animation-name: InterControl;
	animation-duration: 2s;
	animation-timing-function: ease;
}

@keyframes InterControl {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*开始进入动画结束*/

.Interact_cover {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 600;

}

/*cover*/

/*轮播图*/

._circle {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 42vh;
	width: 100vw;
	z-index: 10;
}

#Swiper1>.swiper-container {
	width: 100vw;
	height: 42vh;
}

#Swiper1>.swiper-button-prev {
	display: none;
}

.circle_left {
	margin: 0 auto;
	background-image: url(../images/interact_cbg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 42vh;
	width: 78vw;
	overflow: hidden;
}

.circle_left img {
	height: 36vh;
	display: block;
	margin: 3vh auto;
}

.circle_right {
	margin: 0 auto;
	height: 42vh;
	width: 78vw;
	overflow: hidden;
}

.circle_right img:first-child {
	height: 35vh;
	display: block;
	margin: 3.5vh auto;
}

.circle_right img:last-child {
	height: 35vh;
	display: block;
	margin: -38.5vh auto 0;
}



/*轮播图结束*/

/*头部部分*/

.Interact_header {
	position: absolute;
	width: 100%;
	top: 5%;
	text-align: center;
	z-index: 200;
}

.Interact_header img {
	width: 38vw;
}

.Interact_header p {
	font-size: 4vw;
	color: #fff;
	letter-spacing: 2vw;
}

/*转轮手势*/
.Interact_slideCursor {
	position: absolute;
	top: 58vh;
	left: 63vw;
	z-index: 500;
	color: #fff;
	display: none;
}

.Interact_slideCursor img {
	float: left;
	transform: scale(0.6);
	-webkit-transform: scale(0.6);
}

.Interact_slideCursor p {
	float: right;
	margin-top: 5vh;
	margin-left: -4vw;
}

/*风速控制*/
.Interact_wind {
	position: absolute;
	top: 78%;
	left: 20%;
	z-index: 500;
	color: #fff;
	transform: scale(0.6);
	-webkit-transform: scale(0.6);
}

.Interact_control_wind {
	position: absolute;
	bottom: 0;
	left: 20%;
	z-index: 500;
	color: #fff;
	transform: scale(.6);
	-webkit-transform: scale(.6);
	display: none;
}

.Interact_control_wind img {
	float: left;
}

.Interact_control_wind p {
	float: left;
	font-size: .6rem;
	margin-top: 4vh;
}

/*风速dot*/
.Interact_dot_left li:first-child {
	position: absolute;
	top: 82.5%;
	left: 22%;
	z-index: 500;
	transform: scale(.8);
	-webkit-transform: scale(.8);
}

.Interact_dot_left li:nth-child(2) {
	position: absolute;
	top: 79.5%;
	left: 14%;
	z-index: 500;
	transform: scale(.8);
	-webkit-transform: scale(.8);
	display: none;
}

.Interact_dot_left li:last-child {
	position: absolute;
	top: 76%;
	left: 8%;
	z-index: 500;
	transform: scale(.8);
	-webkit-transform: scale(.8);
	display: none;
}

/*温度控制*/
.Interact_temp {
	position: absolute;
	top: 78%;
	right: 20%;
	z-index: 500;
	transform: scale(.6);
	-webkit-transform: scale(.6);
}

.Interact_control_temp {
	position: absolute;
	bottom: 0;
	right: 20%;
	z-index: 500;
	color: #fff;
	transform: scale(.6);
	-webkit-transform: scale(.6);
	display: none;
}

.Interact_control_temp p {
	float: left;
	font-size: .6rem;
	margin-right: .1rem;
	margin-top: 4vh;
}

/*温度dot*/
.Interact_dot_right li:first-child {
	position: absolute;
	top: 82.5%;
	right: 22%;
	z-index: 500;
	transform: scale(.8);
	-webkit-transform: scale(.8);
	display: none;
}

.Interact_dot_right li:nth-child(2) {
	position: absolute;
	top: 79.5%;
	right: 14%;
	z-index: 500;
	transform: scale(.8);
	-webkit-transform: scale(.8);
	display: none;
}

.Interact_dot_right li:last-child {
	position: absolute;
	top: 76%;
	right: 8%;
	z-index: 500;
	transform: scale(.8);
	-webkit-transform: scale(.8);
	display: none;
}

/*尾部yes*/
.Interact_yes {
	position: absolute;
	right: .8vw;
	bottom: .8vh;
	transform: scale(0.6);
	-webkit-transform: scale(0.6);
	display: none;
}

/*interact结束*/
/*blessing*/
.Blessing {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

.Blessing .Blesing_bg {
	position: absolute;
	height: 100%;
	width: 100%;
}

.Blessing .Blesing_bg img {
	height: 100%;
	width: 100%;
}

.Blessing_header_logo {
	position: absolute;
	top: 3vh;
	width: 100vw;
	text-align: center;
}

.Blessing_header_logo img {
	width: 50vw;
}

/*contain*/
.Blessing_contain {
	position: absolute;
	top: 14vh;
	left: 10vw;
	width: 80vw;
	height: 71vh;
	background-image: url(../images/blessing_contain_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}

.containTbg {
	width: 44vw;
	height: 44vw;
	position: absolute;
	left: 19vw;
	top: 50%;
	transform: translateY(-50%);
}

.containTurn {
	width: 44vw;
	height: 44vw;
	position: absolute;
	left: 19vw;
	top: 50%;
	transform: translateY(-50%);
}

/*contain的logo和文字*/
.Blessing_contain_header {
	position: absolute;
	top: 3vh;
	left: 0;
	width: 100%;
	height: 22%;
	text-align: center;
}

.Blessing_contain_header img {
	position: absolute;
	left: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

.Blessing_contain .Blessing_contain_header p {
	color: #fff;
	font-size: 0.5rem;
	position: absolute;
	left: 20%;
	letter-spacing: 0.1rem;
	top: 3vh;
}

.Blessing_contain .Blessing_contain_header i {
	font-style: normal;
	display: block;
	color: #fff;
	font-size: 0.3rem;
	margin-top: 10vh;
	letter-spacing: 0.2rem;
}

.Blessing_contain_footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 21vh;
	text-align: center;
	overflow: hidden;
}

.Blessing_contain_footer i {
	display: block;
	margin-top: .2rem;
	font-style: normal;
	color: #fff;
	font-size: 0.4rem;
	letter-spacing: 0.2rem;
}

.Blessing_contain_footer_zhufuyu {
	position: absolute;
	bottom: 0;
	width: 100%;
	top: 3vh;
	text-align: center;
	height: 18vh;
	overflow: hidden;
}

.Blessing_border_shadow {
	display: block;
	margin-top: 4vh;
	height: 11vh;
	width: 100vw;
	-webkit-transform: translateX(-9vw);
	transform: translateX(-9vw);
}

.contain_list {
	width: 100%;
	text-align: center;
	position: absolute;
	top: -1vh;
	height: 11vh;
	margin-top: 5vh;
}

.contain_list span {
	font-size: .3rem;
	padding: 0.3rem;
	letter-spacing: 0.1rem;
	display: block;
	color: #fff;
	line-height: .6rem;
}

#Swiper2 .swiper-button-next,
#Swiper2 .swiper-button-prev {
	background-size: 18px 44px;
}

/*blessing_footer*/
.Blessing_footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
}

.blessing_img1 {
	float: left;
	margin-top: -6%;
	margin-left: 21%;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.blessing_p {
	float: left;
	font-size: .4rem;
	color: #fff;
	margin-left: 4vw;
	margin-top: 0vh;
	letter-spacing: 0.1rem;
}

/*share遮罩*/
.Blessing_share {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	z-index: 501;
	display: none;
	top: 0;
	left: 0;
}

.Blessing .share_page {
	position: absolute;
	height: 30%;
	width: 50%;
	top: 0;
	right: 0;
	background-image: url(../images/share.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
}

.share_txt {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 20%;
	text-align: center;
	color: #fff;
}

.share_img2 {
	display: block;
	margin: 0 auto;
	width: 60%;
}

.share_txt i {
	display: block;
	margin-top: 60vh;
	font-style: normal;
	font-size: .5rem;
	letter-spacing: .1rem;
}

/*blessing loading*/
.Blessing_share .loadAnim {
	position: absolute;
	top: 20vh;
	left: 0.7rem;
	width: 8.5333333333rem;
	height: 4.9066666667rem;
	background: url(../images/loadingSprite2.jpg) no-repeat 0 0/300% 500%;
	animation: loadAnim 2s steps(1, end) infinite alternate;
	-webkit-animation: loadAnim 2s steps(1, end) infinite alternate;
}

@keyframes loadAnim {
	0% {
		background-position: 0% 0%;
	}

	7.6923076923% {
		background-position: 50% 0%;
	}

	15.3846153846% {
		background-position: 100% 0%;
	}

	23.0769230769% {
		background-position: 0% 25%;
	}

	30.7692307692% {
		background-position: 50% 25%;
	}

	38.4615384615% {
		background-position: 100% 25%;
	}

	46.1538461538% {
		background-position: 0% 50%;
	}

	53.8461538462% {
		background-position: 50% 50%;
	}

	61.5384615385% {
		background-position: 100% 50%;
	}

	69.2307692308% {
		background-position: 0% 75%;
	}

	76.9230769231% {
		background-position: 50% 75%;
	}

	84.6153846154% {
		background-position: 100% 75%;
	}

	92.3076923077% {
		background-position: 0% 100%;
	}

	100% {
		background-position: 50% 100%;
	}
}

@-webkit-keyframes loadAnim {
	0% {
		background-position: 0% 0%;
	}

	7.6923076923% {
		background-position: 50% 0%;
	}

	15.3846153846% {
		background-position: 100% 0%;
	}

	23.0769230769% {
		background-position: 0% 25%;
	}

	30.7692307692% {
		background-position: 50% 25%;
	}

	38.4615384615% {
		background-position: 100% 25%;
	}

	46.1538461538% {
		background-position: 0% 50%;
	}

	53.8461538462% {
		background-position: 50% 50%;
	}

	61.5384615385% {
		background-position: 100% 50%;
	}

	69.2307692308% {
		background-position: 0% 75%;
	}

	76.9230769231% {
		background-position: 50% 75%;
	}

	84.6153846154% {
		background-position: 100% 75%;
	}

	92.3076923077% {
		background-position: 0% 100%;
	}

	100% {
		background-position: 50% 100%;
	}
}


/*blessing结束*/